node_modules
**/node_modules
.git
.gitignore
**/build
**/.turbo
**/dist
**/.next
**/coverage
**/playwright-report
**/test-results
**/.vite
**/_.log
.env
.env._
!.env.example
**/.env
**/.env._
\*\*/!.env.example
.vscode
.idea
_.md
README.md
